# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# for visual-studio
*.log
*.tlog
*.sdf
*.opensdf
*.suo
*.lastbuildstate
*.idb
*.pdb
*.ilk
